<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Calculator</title>
    <meta name="description" content="Smart Calculator">
  <!--  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
   <body>
     <div class = "ex4">
    <h10>-----------  Smart Calculator  -----------</h10> 
     </div>
     <br> <br>
     
     <!--<form class = "ex1">-->
     <div class = "ex2">
      
       <form action = "./customcalc.html">
       <button class = "index">Custom Calculator</button> 
       </form>
       <br>
       <form action = "./dash.html"> 
       <button class = "index">Dashboard</button> 
       </form>
       <br>
       <form action = "./calc.html">
       <button class = "/index">Calculator</button>
       </form>
       <br>
       <form action = "./credits.html">
       <button class = "index">Credits</button> 
       </form>
       <br>
       <form action = "./moreaboutthis.html">
       <button class = "index">More About This</button>
       </form>
      </div>
       <div class = "ex3">
        <h1>Smart Calculator Menu</h1><br><br>
         <p>Directions:</p><br><br><br><br><br><br><br><br>
      <img src = "https://cdn.discordapp.com/attachments/509421231875817503/525140390198771732/giphy.gif">
     </div>
          
       <!--</form>-->
     <script>
       //button functions
       
 
       
     </script>

</body>
</html>